body {
    font-family: sans-serif;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
}

.sidenav {
    width: 200px;
    /* height: 200%; */
    background-color: #1D1D1D;
    padding: 20px;
    height: 120vh;
}

.sidenav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.sidenav a:hover {
    
      
  color: rgb(249, 112, 112);
}

.main {
    flex: 1;
    padding: 20px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label{
    font-size: 12px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}


button {
    padding: 10px 20px;
    background-color: rgb(249, 112, 112);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 12px;
}

#box1{
    margin-top: 20px;
}
#box1 p{
    font-size: 15px;
    color: #F97070;
    font-weight: bold;
}

#fileBtn{
    font-size: 12px;
    border-radius: 5px;
}
#profile-image{
    height: 120px;
    width: 120px;
}