body {
  font-family: sans-serif;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
}

.sidenav {
  width: 200px;
  /* height: 200%; */
  background-color: #1D1D1D;
  padding: 20px;
  height: 100vh;
}

.sidenav a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.sidenav a:hover {
  
  color: rgb(249, 112, 112);
}

.main-content {
  flex: 1;
  padding: 20px;
}

table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  text-align: left;
  background-color: #f1f1f1;
}

.update-btn, .delete-btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.update-btn {
  background-color: #007bff;
  color: white;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}
#popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}