body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}
.container1 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: space-around;
}

.product-card {
    width: 22%; /* Adjust the width based on your preference */
    background-color: #fff;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    height: 300px;
    
    margin: 10px;

    border-radius: 5px;
}

.product-card:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.product-image {
    overflow: hidden;
    height: 250px;
    display: flex;
    justify-content: center;

    border-radius: 5px;
    
    margin-left: 6px;
    margin-top: 6px;
    margin-right: 5px;
}

.product-image img{
    object-fit: contain;
}

.product-details {
    padding: 20px;
}

h1 {
    font-size: 16px;
    color: rgb(255, 118, 118);
}
.price {
    font-size: 14px;
    font-weight: bold;
}

.p1{
    font-size: 12px;
    line-height: 1.5;
}