
.topnav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;

    box-shadow: 0 4px 8px rgba(15, 15, 15, 0.2);

    align-items: center;
}

.logo {
    display: block;
    margin-left: 20px;
}

.logo img {
    width: 50px;
    height: auto;
}

.right {
    display: flex;
    align-items: center;
}

.right a {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.right a:hover {
    color: rgb(255, 125, 125);
}