body {
    font-family: sans-serif;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}
.container2 {
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: rgb(255, 255, 255);
  }

  .topnav{
    box-shadow: 0 2px 4px rgba(36, 25, 25, 0.1);

  }
  
  .product-thumbnails img {
    width: 100%;
    width: 160px;
    height: 110px;
    object-fit: cover;
    margin-bottom: 10px;
    border-color: black;
  }
  
  .product-main-image {
    width: 1500px;
    /* margin-right: 20px; */
    padding-left: 30px;
    border-color: black;
  }
  
  .product-main-image img {
    width: 88%;
    height: 450px;
    object-fit: cover;
    border-color: black;
  }
  
  .product-info {
    width: 80%;
    flex-grow: 1;
    text-align: left;
  }
  
  .product-info h1 {
    font-size: 22px;
    color:#FA7070;
  }
  
  .product-info p {
    font-size: 18px;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .location {
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .button {

    padding: 10px 20px;
    background-color: #FA7070;
    color: white;
    border: none;
    cursor: pointer;
  }